[Unit]
Description=MyUnit
After=syslog.target
After=network.target
Requires=mongod.service

[Service]
Type=forking
User=ubuntu
ExecStart=/usr/local/bin/puma --dir /home/ubuntu/reddit -d
KillMode=process

[Install]
WantedBy=multi-user.target
