cloud_id                 = "b1gtsklHELLO"
folder_id                = "b1gsldkHELLO"
zone                     = "ru-central1-a"
vm_zone                  = "ru-central1-a"
image_id                 = "fdsdlsdHELLO"
image_full_id            = "fdsdlsdHELLO"
public_key_path          = "/home/ubuntu/.ssh/test.pub"
private_key_path         = "/home/ubuntu/.ssh/test"
subnet_id                = "e9bsdkjHELLO"
service_account_key_file = "/home/ubuntu/key.json"
service_account_id       = "slkgfsdHELLO"
vm_count                 = "2"
app_cpu_count            = "2"
app_ram_size             = "2"
app_cpu_usage            = "20"
db_cpu_count             = "2"
db_ram_size              = "2"
db_cpu_usage             = "20"
app_instance_name        = "reddit-app-magic"
db_instance_name         = "reddit-db-magic"
